# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
FASTAPI/venv/
.process.env

# Node/Svelte
CLIENT/node_modules/
CLIENT/.vite/
CLIENT/dist/

# Environment variables
FASTAPI/.env
react-client/.env