# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
FASTAPI/venv/
context
.process.env
.context
featurestoadd

# Node/Svelte
CLIENT/node_modules/
CLIENT/.vite/
CLIENT/dist/

# Environment variables
FASTAPI/.env
react-client/.env

compose.yml
Dockerfile
